version: "3.3"
services:


  # ****** Sogema products ******

{% if is_datadog_enabled %}
  datadog:
    restart: always
    image: datadog/docker-dd-agent:latest
    ports:
      - "8125:8125/udp"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro 
      - /proc/:/host/proc/:ro 
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro 
    environment:
      API_KEY: "{{ dd_key }}"
      SD_BACKEND: "docker"
      TAGS: "environment:{{ environment_name }},role:docker,product:epip"
      DD_HOSTNAME: "{{ full_hostname }}"
      {% if is_dd_process_agent_enabled is defined %}DD_PROCESS_AGENT_ENABLED: "{{ is_dd_process_agent_enabled }}"
      {% endif %}          
      {% if is_dd_apm_enabled is defined %}DD_APM_ENABLED: "{{ is_dd_apm_enabled }}"
      {% endif %}      
{% endif %}


  epip-ui:
    image: sogema-docker.jfrog.io/sogema/epip-ui:{{ epip_ui_version }}
    restart: always
    environment:
      EPIP_API_URL: "http://epip-api:3200"
    ports:
      - 4200:4200
    networks:
      - epip
#    depends_on:
#      - epip-api

  # EPIP API
  epip-api:
    image: sogema-docker.jfrog.io/sogema/epip-api:{{ epip_api_version }}
    restart: always
    ports:
      - 3200:3200
    networks:
      - epip      
    environment:
      PORT: 3200
      LOG_LEVEL_CONSOLE: "{{ log_level_console }}" # possible values: error, warn, info, http, verbose, debug, silly
      DB_URL: "{{ db_url }}"
      KEYCLOAK_URL: "{{ keycloak_url }}"
      KEYCLOAK_CLIENT_ID:  "{{ keycloak_client_id }}"
      KEYCLOAK_REALM: "{{ keycloak_realm }}"
      KEYCLOAK_ADMIN_USERNAME: "{{ keycloak_admin_username }}"
      KEYCLOAK_ADMIN_PASSWORD: "{{ keycloak_admin_password }}"
      KEYCLOAK_ADMIN_REFRESH_TOKEN_INTERVAL: "{{ keycloak_admin_refresh_token_interval }}"
      SIGTAS_URL: "{{ sigtas_url }}"
      SIGTAS_SECURED: "{{ sigtas_secured }}"
      SIGTAS_USERNAME: "{{ sigtas_username }}"
      SIGTAS_PASSWORD: "{{ sigtas_password }}"
      REDIS_HOST: "redis" # TODO not used, to remove when removed from config
      REDIS_PORT: 6379 # TODO not used, to remove when removed from config
      EPIP_UI_URL: "{{ epip_ui_url }}"
      REFRESH_ACCESS_CRON_TIME: "{{ refresh_access_cron_time }}"


  # ****** Persistence ******

  # MongoDB
  # Databases : epip
  mongo:
    image: mongo:3.4.4
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    networks:
      - epip

# ****** Volumes ******
volumes:
  mongo_data:

# ****** Networks ******
networks:
  epip:
